<p>
  <strong>Url:</strong>


  <video width="320" height="240" controls>
    <source src= http://mdlet718.s3.amazonaws.com/after.m4v type="video/mp4">

      Your browser does not support the video tag.
    </video>
  </p>

  <%= link_to 'My movie', controller: 'movies' %>
